		<!-- Google Map section end -->

		<!-- Footer start -->

		<footer id="footer">

			<div class="container">

				<div>
					<input type="range" id="song-progress" min="0" max="1" step="0.001" value="0"> </br> </br>
<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row" style="margin-top:-35px;">
  <div class="col-xs-6 text-left"><p id="current-position">0:00</p></div>
  <div class="col-xs-6 text-right"><p id="duration">0:00</p></div>
</div>
				</div>
					<div class="row text-center">
					<i id="backward" class="fa fa-backward fa-2x music-controls"></i>
					<i class="fa fa-step-backward fa-2x music-controls"></i>
					<i id="play-pause" class="fa fa-play fa-2x music-controls"></i>
					<i id ="controls-next-version" class="fa fa-step-forward fa-2x music-controls"></i>
					<i class="fa fa-forward fa-2x music-controls"></i></br>
					<a id="title" class="controls-text" style="color:white;">title</a></br>
					<a id="artist" class="controls-text" style="color:white;">artist</a>
					<a id="album" class="controls-text" style="color:white;">album</a>
				</div><!-- .row -->


			</div><!-- .container -->

		</footer>

		<!-- Footer end -->

	</div><!-- .wrapper -->