
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix navbar-color">
        <div class="container">
           
		<div class="text-center">
			
			<div class="col-md-12">
					<a id="playing-song-version-info" class="controls-text" style="color:white;">Not playing any song right now</a></br>
			</div>
		</div>

    
        </div>
        <!-- /.container-fluid -->
    </nav>